@model V_Vuelo.Models.Puerta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Puerta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado_puerta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado_puerta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Puerta_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
