@model V_Vuelo.Models.Consecutivos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consecutivos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consecutivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consecutivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidad_prefijo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidad_prefijo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefijo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefijo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rango)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rango)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rango_inicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rango_inicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rango_final)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rango_final)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Consecutivo_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
