@model IEnumerable<V_Vuelo.Models.Roles>

@{
    ViewData["Title"] = "Roles de Usuario";
}

<h1>Roles de Usuario</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Rol_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Rol_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Rol_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
