@model IEnumerable<V_Vuelo.Models.Paises>

@{
    ViewData["Title"] = "Países";
}

<h1>Países</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Pais_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Pais_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Pais_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
